<div class="hero-unit">
            <%= form_for(@vote) do |f| %>
              <% if @vote.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@vote.errors.count, "error") %> prohibited this vote from being saved:</h2>
                 <ul>
                  <% @vote.errors.full_messages.each do |msg| %>
                   <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
        <div>
        <%= f.label :building_id, "Where are you?" %>
        <%= f.collection_select :building_id, Building.order(:name), :id, :name, include_blank: true%>
        </div>
        <div>
          </br>
          <%= f.label :room_id, "Room" %>
          <%= f.grouped_collection_select :room_id, Building.order(:name), :rooms, :name , :id, :name,include_blank: true%>
        </div>
      <div>
      Temperature:
      <div id="slider"></div>
      </br>
      <input id="rating" type="hidden" name="vote[amount]" value="0" />
      <input class="btn btn-success" name="commit" type="submit" value="Vote!">
      </div>
          <% end %>
        </div>
    </div>
    <script type="text/javascript">
      $("#left").css("opacity",.7);
      $("#right").css("opacity",.7);
      $(function() {
        $( "#slider" ).slider({
            orientation: "horizontal",
            range: "min",
            value:0,
            min: -2,
            max: 2,
            animate: true,
            slide: function( event, ui ) {
                $("#rating").val(ui.value);
                oright = .7 + ui.value*.15;
                oleft = .7 - ui.value*.15;
                wright = 50 + ui.value*20;
                wleft = 50 - ui.value *20;

            //    $("#right").css("opacity",right);
           //     $("#right").css("width",wright + "%");
           //     $("#left").css("opacity",left);
         //       $("#left").css("width",wleft  + "%");
                $('#left').animate({
                  opacity: oleft,
                  width: wleft + "%"
                }, 500, function() {
                });
                $('#right').animate({
                  opacity: oright,
                  width: wright + "%"
                }, 500, function() {
                });
            }
        });
    });
  </script>