<div class="hero-unit">
            <%= form_for(@vote) do |f| %>
              <% if @vote.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@vote.errors.count, "error") %> prohibited this vote from being saved:</h2>
                 <ul>
                  <% @vote.errors.full_messages.each do |msg| %>
                   <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
        <div>
        <h2><%= f.label :building_id, "Where are you?" %> </h2>
        <%= f.collection_select :building_id, Building.order(:name), :id, :name, include_blank: true%>
        </div>
        <div>
          </br>
          <h2> <%= f.label :room_id, "Room:" %> </h2>
          <%= f.grouped_collection_select :room_id, Building.order(:name), :rooms, :name , :id, :name,include_blank: true%>
        </div>
      <div>
      </br>
      <h2>Temperature: </h2>
      <div id="slider"></div>
      </br>
      <input id="rating" type="hidden" name="vote[amount]" value="0" />
      <input class="btn btn-large btn-success" name="commit" type="submit" value="GreenVote!">
      </div>
          <% end %>
        </div>
    </div>
    <script type="text/javascript">
      $("#justright").hide();
      $("#left").css("opacity",.7);
      $("#right").css("opacity",.7);
      $('#vote_building_id').change()
      $(function() {
        $( "#slider" ).slider({
            orientation: "horizontal",
            range: "min",
            value:0,
            min: -2,
            max: 2,
            animate: true,
            slide: function( event, ui ) {
                $("#rating").val(ui.value);
                oright = .7 + ui.value*.15;
                oleft = .7 - ui.value*.15;
                wright = 50 + ui.value*20;
                wleft = 50 - ui.value *20;
                if(ui.value > 0) {
                  $("#Cold").parent().fadeOut();
                  $("#Hot").parent().fadeIn();
                  $("#justright").fadeOut();
                }
                if(ui.value < 0) {
                  $("#Cold").parent().fadeIn();
                  $("#Hot").parent().fadeOut();
                  $("#justright").fadeOut();
                }

                if(ui.value == 0) {
                  $('#Hot').parent().fadeOut();
                  $('#Cold').parent().fadeOut();
                  $("#justright").fadeIn();
                }

                if(ui.value == 1) {
                  $('#Hot').fadeOut(500, function() {
                    $(this).text("It's Hot!").fadeIn(500);
                  });
                }

                if(ui.value == 2) {
                  $('#Hot').fadeOut(500, function() {
                    $(this).text("It's Too Hot!").fadeIn(500);
                  });
                }
                if(ui.value == -1) {
                  $('#Cold').fadeOut(500, function() {
                    $(this).text("It's Cold!").fadeIn(500);
                  });
                }
                
                if(ui.value == -2) {
                  $('#Cold').fadeOut(500, function() {
                    $(this).text("It's Too Cold!").fadeIn(500);
                  });
                }
                $('#left').animate({
                  opacity: oleft,
                  width: wleft + "%"
                }, 500, function() {
                });

                $('#right').animate({
                  opacity: oright,
                  width: wright + "%"
                }, 500, function() {
                });
            }
        });
    });
  </script>