<p id="notice"><%= notice %></p>

<p>
  <b>Rating:</b>
  <%= @vote.rating %>
</p>

<p>
  <b>Room:</b>
  <%= @vote.room_id %>
</p>


<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
